{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block body %}
<br>

<div class="container">
		<div class="row" >
			<div class="col-lg-7">
				<h1 style = "font-size : 40px; color: #54451d; font-family : 'Sitka Text';" align=left><img src = "{% static 'images/logo2.png' %}"> Jain Bhadrajun Bank<hr></h1>
	
		<p align=left style = "font-size: 20px">

Many banks in India are starting to offer banking services through mobile phones. However, not many studies investigate the factors that may help the bankers to design mobile services, which are suitable for and adoptable by bank customers. <br>
This study fills this gap and examines a number of factors affecting the mobile banking adoption. Using Diffusion of Innovation as a baseline theory, data are obtained from 330 actual mobile banking users. It is found that relative advantage, compatibility, and observability have positive impact on adoption. <br>
Contrary to the findings in extant literature, trialability and complexity have no significant effect on adoption. Perceived risk has a negative impact on adoption. The findings of this study will have practical implications for banking industry in India. </p>
						
			</div>
				<div class="col-lg-5"><br>
				<br><br><br><img src = "https://thumbs.gfycat.com/OrdinaryWellinformedGosling-max-1mb.gif" style = "width: 500px; padding-right: 100px">
		 		</div>
			</div>
		</div>


{% endblock %}