{% extends 'base.html' %}




{% block title %} Contact Us {% endblock %}




{% block body %}

  <style>

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #d6181e;
  color: #fff;
  line-height: 0;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #3194db; justify-content: center;
  color: #fff;
  text-decoration: none;
}

    .info-box {
      color: #444444;
      text-align: center;
      box-shadow: 0 0 50px rgba(214, 215, 216, 1.5);
      padding: 30px 0 32px 0;
      border-radius: 4px;

    }

    .info-box i {
      font-size: 32px;
      color: #e03a3c;
      border-radius: 50%;
      padding: 8px;
      border: 4px dotted #f8d4d5;
    }

    .info-box h3 {
      font-size: 26px;
      color: #777777;
      font-weight: 700;
      margin: 10px 0;
    }

    .info-box p {
      padding: 0;
      line-height: 24px;
      font-size: 18px;
      margin-bottom: 0;
    }
  </style>

		<br>
		<h1 style = "font-size : 40px; color: #54451d; font-family : 'Sitka Text';"> Reach Us </h1>

	 <iframe style="border:0; width: 60%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.227146752335!2d73.13352431356337!3d19.22892985214757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7950e8f6b75a3%3A0xb54d47a5d256744!2sParshwa%20Jewellers!5e0!3m2!1sen!2sin!4v1623643234067!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" ></iframe>

 <br><br>
    <div class="col-lg-6" >
      <div class="row">
        <div class="col-md-12" >
          <div class="info-box" >
            <i class="fas fa-map-marker-alt"></i>
            <h3>Our Address</h3>
            <p>Chopra Bank Road, Cotton Peth, Banglore</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box mt-4">
            <i class="far fa-envelope"></i>
            <h3>Email Us</h3>
            <p>jainlavesh14@chopra.ac.in<br>jainlavesh14@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-box mt-4">
            <i class="fas fa-phone-alt"></i>
            <h3>Call Us</h3>
            <p>+91 7977730070<br>+91 9833900846</p>
          </div>
        </div>
      </div>
    </div>

   <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="social-links text-center text-md-right pt-3 pt-md-0">

	<div style = "padding-left: 430px">
        <a href="https://www.instagram.com/jain__lavesh?r=nametag" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100008954265865" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/L_Jain14?s=08" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/lavesh-jain-391a891a0/" class="linkedin"><i class="fab fa-linkedin"></i></a>
        <a href="https://api.whatsapp.com/send/?phone=+917977730070&text=Hey Developer!%21%21%21&app_absent=0" class="linkedin"><i class="fab fa-whatsapp"></i></a>
	</div>
      </div>
</div>
</div>



<script src="https://kit.fontawesome.com/310d21a87c.js" crossorigin="anonymous"></script>

  <!------------------------Code Ends here!----------------------------->

{% endblock %}




















